@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme{
    --color-primary:#F2F2F2;
    --color-secondary:#B6B09F;
    --color-button-bg:#EAE4D5;
    --color-button-color:#000000;

    --font-indie: "Indie Flower", cursive; 
    --font-pt_serif: "PT Serif", serif; 
    --font-playfair: "Playfair Display", serif;

}
html{
    scroll-behavior:smooth;
}

.container1 {
    @apply container mx-auto lg:px-20 md:px-10 px-5;
}

.btn-primary{
    @apply bg-amber-500 text-gray-900 font-bold py-2 px-4 cursor-pointer rounded hover:bg-amber-600 hover:text-white transition-colors duration-200;
}